<div class="login">
  <div class="container">
    <div class="form">

    <h1>Sign Up</h1><br><br>
       <%= form_for(@user) do |f| %>

	 <%= f.text_field :first_name, :placeholder => "first name" %>
	 <%= f.text_field :last_name, :placeholder => "last name" %>
	 <%= f.email_field :email, :placeholder => "Email" %>
	 <%= f.password_field :password, :placeholder => "Password" %>
	 <%= f.submit "Create Account", class: "btn-submit" %>
      
       <% end %>

    </div>
  </div>
</div>

